{{ define "main" }}
<div class="row justify-content-left">
  <meta property=”og:image” content=”{{ .Params.image }}”/>

  <div class="col-12">
    <article>
      <div class="blog-header">
        <h1>{{ .Title }}</h1>
        {{ partial "main/blog-meta.html" . }}
      </div>
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ .Content }}
    </article>
  </div>
  {{ if ne .Params.toc false -}}
  <nav class="docs-toc d-none d-xl-block col-xl-4" aria-label="Secondary navigation">
      {{ partial "sidebar/docs-toc.html" . }}
  </nav>
  {{ end -}}
</div>
{{ end }}