pre,
code,
kbd,
samp {
  font-family: $font-family-monospace;
  font-size: $font-size-sm;
  border-radius: $border-radius;
}

pre {
  background: $black;
  color: $white;
  line-height: $line-height-lg;
  margin: 2rem 0;
  overflow: auto;
  padding: 1.25rem 1.5rem;
  tab-size: 4;
}

code {
  background: $beige;
  color: $black;
  padding: 0.25rem 0.5rem;
}

pre code {
  background: none;
  font-size: inherit;
  padding: 0;
}

.chroma {
  background: $beige;
  color: $black;

  /* Use linear-gradient for background image */
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 16px;
  border: 1px solid $blue-300;
  width: 42rem;
  border-left: 12px solid $blue-300;
  border-radius: 5px;
  padding: 14px;

  /* Fixed line height */
  line-height: 24px;

  /* Size background so that the height is 2x line-height */
  background-size: 100% 50px;

  /* Offset the background along the y-axis by top padding */
  background-position: 0 14px;
  background-image: linear-gradient(180deg, #eee 50%, #fff 50%);
}

.mjx-chtml {
  color: royalblue;
}

@include media-breakpoint-down(xs) {
  pre {
    margin: 2rem -1.5rem;
  }

  pre,
  code,
  kbd,
  samp {
    border-radius: 0;
  }
}
